<div class="main-content mt-4">
  <div class="container-fluid">
    <div class="row">
      <form class="example-form col-12 row ml-1" [formGroup]='orderFilterFG' style="background-color: white;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);border-radius: 6px;">
        <div class="col-4 mt-2">
          <mat-form-field class="example-full-width">
            <input required formControlName="startDate" matInput [matDatepicker]="pickerS" placeholder="Choose a Start date">
            <mat-datepicker-toggle matSuffix [for]="pickerS"></mat-datepicker-toggle>
            <mat-datepicker startView="month" #pickerS></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-4 mt-2">
          <mat-form-field class="example-full-width">
            <input required formControlName="endDate" matInput [matDatepicker]="pickerE" placeholder="Choose a end date">
            <mat-datepicker-toggle matSuffix [for]="pickerE"></mat-datepicker-toggle>
            <mat-datepicker startView="month" #pickerE></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-2 mt-2">
          <button mat-raised-button class="btn btn-primary pull-right">Filter Orders</button>
        </div>
      </form>
      <div class="col-12">
        <div class="card mt-2">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Orders</h4>
            <p class="card-category">Order History</p>
          </div>
          <div class="card-body">
            <table mat-table [dataSource]="dataSource" style="width:100%">
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
              <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef> Product Name </th>
                <td mat-cell *matCellDef="let element" [title]="element.productName"> {{wrapTextTitle(element.productName,10)}} </td>
              </ng-container>
              <ng-container matColumnDef="orderStatus">
                <th mat-header-cell *matHeaderCellDef> Order Status </th>
                <td mat-cell *matCellDef="let element"> 
                  <span class="order-status inprogress" *ngIf="element.orderStatus == 'INPROGRESS'">{{element.orderStatus}}</span>
                  <span class="order-status completed" *ngIf="element.orderStatus == 'COMPLETED'">{{element.orderStatus}}</span>
                  <span class="order-status hold" *ngIf="element.orderStatus == 'HOLD'">{{element.orderStatus}}</span>
                  <span class="order-status reOpen" *ngIf="element.orderStatus == 'REOPEN'">{{element.orderStatus}}</span>
                  <span class="order-status submitted" *ngIf="element.orderStatus == 'SUBMITTED'">{{element.orderStatus}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="clientName">
                <th mat-header-cell *matHeaderCellDef> Client </th>
                <td mat-cell *matCellDef="let element">{{element.clientName}}</td>
              </ng-container>
              <ng-container matColumnDef="creationDateString">
                <th mat-header-cell *matHeaderCellDef> Creation Date </th>
                <td mat-cell *matCellDef="let element"> {{element.creationDateString}} </td>
              </ng-container>
              <ng-container matColumnDef="endDateString">
                <th mat-header-cell *matHeaderCellDef> End Date </th>
                <td mat-cell *matCellDef="let element"> {{element.endDateString}} </td>
              </ng-container>
              <ng-container matColumnDef="itemDetails">
                <th mat-header-cell *matHeaderCellDef> Price Details </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                      <span class="text-left font-weight-light">{{element.numberOfUnit}} * {{element.pricePerUnit}}</span>
                    </div>
                    <strong title="Total Price">{{element.price}}</strong>
                </td>
              </ng-container>
              <ng-container matColumnDef="paymentType">
                <th mat-header-cell *matHeaderCellDef> Payment Type </th>
                <td mat-cell *matCellDef="let element"> {{element.paymentType}} </td>
              </ng-container>
              <ng-container matColumnDef="paymentStatus">
                <th mat-header-cell *matHeaderCellDef> Payment Status </th>
                <td mat-cell *matCellDef="let element"> <span [ngClass]="element.paymentStatus == 'DONE'? 'payment-done':'payment-pending' " *ngIf="element.paymentStatus" style="font-weight: bold; font-size: 16px;">{{element.paymentStatus}}</span></td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>