.payment-done{
    color: green;
}
.payment-pending{
    color: red;
}

.order-status{
    font-weight: bold;
    font-size: 16px;
}

.reOpen{
    color: #ffc371;
}
.hold{
    color: #eb3349;
}
.completed{
    color: #185a9d;
}
.inprogress{
    color: #56ab2f;
}
.submitted{
    color: #039be5;
}