<div class="container">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto" style="margin-top: 10%">
        <div class="card card-signup">
          <h2 class="card-title text-center">Register</h2>
          <div class="card-body">
            <div class="row">
              <div class="col-md-5 ml-auto">
                <div class="info info-horizontal">
                  <div class="icon icon-primary">
                    <i class="material-icons">timeline</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Marketing</h4>
                    <p class="description">
                      We've created the marketing campaign of the website. It was a very interesting collaboration.
                    </p>
                  </div>
                </div>
                <div class="info info-horizontal">
                  <div class="icon icon-primary">
                    <i class="material-icons">code</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Fully Coded in HTML5</h4>
                    <p class="description">
                      We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                    </p>
                  </div>
                </div>
                <div class="info info-horizontal">
                  <div class="icon icon-info">
                    <i class="material-icons">group</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Built Audience</h4>
                    <p class="description">
                      There is also a Fully Customizable CMS Admin Dashboard for this product.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-5 mr-auto">
                  <form>
                      <div class="row">
                         
                          <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email address" type="email">
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Fist Name" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Last Name" type="text">
                            </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Adress" type="text">
                            </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="City" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Country" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Postal Code" type="text">
                            </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                            <label>About Me</label>
                            <mat-form-field class="example-full-width">
                               <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                             </mat-form-field>
                          </div>
                      </div>
                      <button mat-raised-button type="submit" class="btn btn-danger pull-right">Register</button>
                      <div class="clearfix"></div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>