<div class="container">
  <div class="row">
    <div *ngIf="user" class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto" style="margin-top: 10%;">
      <form class="form" method="" action="">
        <div class="card card-login">
          <div class="card-header card-header-primary text-center">
            <h4 class="card-title"><p>Set Password</p></h4>
          </div>
          <div class="card-body ">
            <p class="card-description text-center simple-text">
              Welcome <b>{{user.firstName}} {{user.lastName}}</b></p>
            <div class="row">
              <span class="bmd-form-group col-12">
                <div class="input-group">
                    <mat-form-field class="col-12" [formGroup]="formGroup">
                        <input required [type]="passhide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password" (input)="onPasswordInput()">
                        <button mat-icon-button matSuffix (click)="passhide = !passhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{passhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-hint align="end">Not more then 10 characters long.</mat-hint>
                        <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
                        <mat-error *ngIf="password.hasError('maxlength')">You have more than 10 characters</mat-error>
                      </mat-form-field>
                </div>
              </span>
            </div>
            <div class="row">
              <span class="bmd-form-group col-12">
                <div class="input-group">
                    <mat-form-field class="col-12" [formGroup]="formGroup">
                        <input required [type]="conformhide ? 'password' : 'text'" matInput placeholder="Confirm password" formControlName="password2" (input)="onPasswordInput()">
                        <button mat-icon-button matSuffix (click)="conformhide = !conformhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{conformhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="password2.hasError('required')">Please confirm your password</mat-error>
                        <mat-error *ngIf="password2.invalid && !password2.hasError('required')">Passwords don't match</mat-error>
                      </mat-form-field>
                </div>
              </span>
            </div>
          </div>
          <div class="card-footer justify-content-center" [formGroup]="formGroup">
              <button [ngClass]="password2.valid && password.valid  ? '': 'disabled btn-disabled'" (click)="save()" mat-raised-button type="submit" class="btn btn-primary pull-right">Lets Go</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>