<div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto" style="margin-top: 10%;">
        <form class="form" method="" action="">
          <div class="card card-login">
            <div class="card-header card-header-primary text-center">
              <h4 class="card-title">Login</h4>
            </div>
            <div class="card-body ">
              <p class="card-description text-center">Welcome to App Name</p>
              <div class="row">
                <span class="bmd-form-group col-12">
                  <div class="input-group">
                    <mat-form-field class="col-12">
                      <input required [formControl]="emailFormControl" required matInput placeholder="Email" type="email">
                      <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessageEmail()}}</mat-error>
                    </mat-form-field>
                  </div>
                </span>
              </div>
              <div class="row">
                <span class="bmd-form-group col-12">
                  <div class="input-group">
                    <mat-form-field class="col-12">
                      <input required [formControl]="passwordFormControl" matInput name="password" [type]="hide ? 'password' : 'text'" placeholder="Password">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                      <mat-hint align="end">Not more then 10 characters long.</mat-hint>
                      <mat-error *ngIf="passwordFormControl.invalid">{{getPasswordMessageEmail()}}</mat-error>
                    </mat-form-field>
                  </div>
                </span>
              </div>
            </div>
            <div class="card-footer justify-content-center">
                <button [ngClass]="emailFormControl.valid && passwordFormControl.valid ? '': 'disabled btn-disabled'" (click)="login()" mat-raised-button type="submit" class="btn btn-primary pull-right">Lets Go</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>