<div class="main-content mt-4">
  <div class="container-fluid">
    <button mat-stroked-button color="primary" (click)="openDialog()"><i class="material-icons">person_add
      </i>Add Customers</button>

    <div class="row">
        <div class="col-12 row" *ngIf="clientCountDetails">
            <div class="col-4">
              <div class="card card-stats mb-1">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon"><i class="material-icons">priority_high</i></div>
                  <p class="card-category">High Priority Customers</p>
                  <h3 class="card-title">{{clientCountDetails.highPriorityClien}}/{{clientCountDetails.totalClient}}</h3>
                </div>
                <div class="card-footer">
                  <div title="Click to view customers" style="cursor: pointer;" (click)="loadAllClient('HIGH')" class="stats"><i class="material-icons text-warning">view_list</i><a>View</a></div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card card-stats mb-1">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon"><i class="material-icons">store</i></div>
                  <p class="card-category">Medium Priority Customers</p>
                  <h3 class="card-title">{{clientCountDetails.mediumPriorityClient}}/{{clientCountDetails.totalClient}}</h3>
                </div>
                <div class="card-footer">
                  <div title="Click to view customers" style="cursor: pointer;" (click)="loadAllClient('MEDIUM')" class="stats"><i class="material-icons text-success">view_list</i><a>View</a></div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div  class="card card-stats mb-1">
                <div  class="card-header card-header-danger card-header-icon">
                  <div class="card-icon"><i  class="material-icons">low_priority</i></div>
                  <p  class="card-category">Low Priority Customers</p>
                  <h3  class="card-title">{{clientCountDetails.lowPriorityClient}}/{{clientCountDetails.totalClient}}</h3>
                </div>
                <div class="card-footer">
                  <div title="Click to view customers" style="cursor: pointer;" (click)="loadAllClient('LOW')" class="stats"><i class="material-icons text-danger">view_list</i><a>View</a></div>
                </div>
              </div>
            </div>
          </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Customers</h4>
            <div class="d-flex justify-content-between">
              <p class="card-category">Mannage Existing Customers</p>
              <i title="Load all customers" (click)="loadAllClient('')" *ngIf="selectedDataSet && selectedDataSet != ''" style="cursor: pointer;" class="material-icons">refresh </i>
            </div>
          </div>
          <div class="card-body">
            <table mat-table [dataSource]="dataSource" style="width:100%">
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
              <ng-container matColumnDef="degreeOfPriority">
                <th mat-header-cell *matHeaderCellDef> Priority </th>
                <td mat-cell *matCellDef="let element"> 
                    <button *ngIf="element.degreeOfPriority == 'HIGH'" mat-raised-button style="color: white;background-color: #fb8c00;" matBadgePosition="before" matBadgeColor="accent">
                        {{element.degreeOfPriority}} 
                    </button>
                    <button *ngIf="element.degreeOfPriority == 'MEDIUM'" mat-raised-button style="color: white;background-color:#43a047;" matBadgePosition="before" matBadgeColor="accent">
                        {{element.degreeOfPriority}} 
                    </button>
                    <button *ngIf="element.degreeOfPriority == 'LOW'" mat-raised-button style="color: white;background-color:#e53935;" matBadgePosition="before" matBadgeColor="accent">
                        {{element.degreeOfPriority}} 
                    </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef> Comment </th>
                <td mat-cell *matCellDef="let element" [title]="element.comment"> {{wrapTextTitle(element.comment,30)}} </td>
              </ng-container>
              <ng-container matColumnDef="weChat">
                <th mat-header-cell *matHeaderCellDef> Communication Platform </th>
                <td mat-cell *matCellDef="let element"> {{element.weChat}} </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                  <i class="material-icons" title="Edit Client" style="cursor: pointer;" (click)="editClient(element)">edit</i>
                  <i class="material-icons" title="Delete Client" style="color: red;cursor: pointer;" (click)="deleteClient(element)">delete_outline</i> 
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>